*{
  box-sizing: border-box;
margin:0;
padding:0;
text-decoration:none;
list-style-type:none;
list-style:none;
}
.container{
  width: 100vw;
  height:100vh;
}

.main{ 
  padding:10px; 
  text-align:center; 
  background: linear-gradient(0, #120976, #0a0a0a);
  margin-bottom:20px;
}

header{
  display:flex; 
  justify-content:space-between; 
  margin:0px 40px; 
  align-items:center; 
 
}

nav ul{display:flex; }

ul li a{ margin-left:50px;}

.logo{border-radius:5%;}

#contato{font-size:50px; color:#fff;}

h1{margin-bottom:40px;}

p{margin-bottom:40px;}

.autor{width:40px; height:40px; border-radius:50%;}



#coracao{color:rgb(225, 12, 12);}

.voltar{
  
}





/* RESPONSIVIDADE */

@media screen and (min-width: 0) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}








#voltar{
  margin-top:20px;
  margin-left:1260px; 
  height:20px; 
  width: 20px;
}

footer{ 
  background: linear-gradient(0, #120976, #0a0a0a);
  height:50px;
}

footer p{text-align: center; padding-top:15px; color: #fff;}




